:root{
    margin: 25px;
    --primary-color:black;
    --secondary-color:white;
    --accent-color-1:maroon;
    --accent-color-2: gray;
}


body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 2fr 1fr;
    height: 500px;
    width: auto;
}
header{
    background-color: var(--primary-color);
    display:grid;
    align-content: space-between;
    grid-template-rows: 3fr 1fr;
    color: white;
    grid-column: 1/5;
}
nav{
    background-color: var(--accent-color-2);
    color:black;
    display: flex;
    justify-content: space-evenly;
    
}

main{
    grid-column: 1/4;
    background-color: var(--accent-color-1);
    color:white;
}

aside{
    grid-column: 4;
    background-color: var(--secondary-color);
    color: black;
}

footer{
    background-color: var(--accent-color-2);
    color:black;
    grid-column: 1/5;
}