:root{
    margin: 25px;
    --primary-color:black;
    --secondary-color:white;
    --accent-color-1:maroon;
    --accent-color-2: gray;
}

body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 2fr 1fr;
    height: 500px;
    width: auto;
}

header{
    background-color: var(--primary-color);
    font-family: "Sour Gummy", sans-serif;
    font-size: larger;
    display:grid;
    align-content: space-between;
    grid-template-rows: 2fr 1fr;
    color: white;
    grid-column: 1/5;
}

#course-title{
    display:block;
    text-align: center;
    padding-top: 10px;
}

nav{
    background-color: var(--secondary-color);
    color:var(--accent-color-1);
    display: flex;
    justify-content: space-evenly;
    border: 5px solid var(--primary-color);
}

nav a{
    text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main{
    grid-column: 1/4;
    background-color: var(--accent-color-1);
    color:white;
    font-family: "Miniver", cursive;
    font-size: medium;
    font-weight: lighter;
    max-width: 750px;
    justify-self: center;
    display:grid;
}

h2{
    text-decoration: underline; 
    text-align: center;
}

p{
    margin: 25px;
}

section{
    display: flex;
}

footer{
    background-color: var(--primary-color);
    font-family: "Sour Gummy", sans-serif;
    color:white;
    grid-column: 1/5;
}