body{
    font-family: 'Roboto';
}

header, footer, main{
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border: 1px #bbb solid;
    padding: 1rem;
    background-color: aliceblue;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: beige; 
}